<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Moon</string>
		<key>image</key>
		<string>portal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sun</string>
		<key>image</key>
		<string>portal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mercury</string>
		<key>image</key>
		<string>portal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Venus</string>
		<key>image</key>
		<string>portal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Earth</string>
		<key>image</key>
		<string>portal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mars</string>
		<key>image</key>
		<string>portal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jupiter</string>
		<key>image</key>
		<string>portal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Saturn</string>
		<key>image</key>
		<string>portal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Uranus</string>
		<key>image</key>
		<string>portal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Neptune</string>
		<key>image</key>
		<string>portal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pluto</string>
		<key>image</key>
		<string>portal</string>
	</dict>
</array>
</plist>
